# .NET build artifacts
bin/
obj/
out/
*.user
*.suo
.vs/
.vscode/
.idea/

# Rider
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test
TestResults/
*.coverage
*.coveragexml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
